{% extends "base.html" %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
{% endblock %}

{% block title %}
Afflux
{% endblock %}

{% block content %}

<div class="nav">
    <div class="filterWrapper">
        <img id="filterPic" src="{{ url_for('static', filename='images/settings-sliders.png') }}"
            alt="Search By Filter">
    </div>
    <input type="text" placeholder="can't search now">
</div>

<div class="filterSidebar">
    <p>Filters will appear here once services are available ✨
    </p>
</div>
<div class="aboveBlur"></div>

<main>
    <p>Oops! No services yet</p>
</main>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/script.js')}}"></script>
{% endblock %}
</body>

</html>