<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up to Afflux</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css')}}">
</head>

<body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
    <div id="notify" class="notify">
        <p>{{ msg }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="container">
        <div class="auth_img">
            <img src="static/images/signup_thumbnail.png" alt="signup" class="auth_thumbnail">
        </div>
        <div class="signup_field">
            <div>
                <h1>Sign Up</h1>
            </div>
            <div>
                <form action="/signup" method="post">
                    <input type="text" name="username" placeholder="username" class="username" required>
                    <input type="password" name="password" placeholder="password" class="password" required>
                    <button>Create Account</button>
                </form>
            </div>
            <div class="go_to_login">
                <p>Already have an account? <a href="{{ url_for('auth.login') }}">Login</a></p>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/auth.js')}}"></script>
</body>

</html>