{% extends "base.html" %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}


{% block title %}
Afflux Dashboard
{% endblock %}

{% block content %}

<div class="msg_wrapper">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
    <div id="notify" class="notify">
        <p>{{ msg }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>


<div class="circle">
    <div class="logo">
        <img src="static/images/ChatGPT Image May 31, 2026, 10_31_54 PM.png" alt="logo">
    </div>
    <div class="h1_w">
        <h2>
            {% if profile["name"] %}
            {{ profile["name"] }}
            {% else %}
            {{ profile["username"] }}
            {% endif %}
        </h2>
    </div>
    <div class="profile_main_btns">
        <button class="ally">Ally</button>
        <a href="{{ url_for('edit_profile.edit_profile_page') }}">
            <button class="edit_profile">Edit Profile</button>
        </a>
    </div>
</div>

<div class="personal-widgets">
    <div class="item1"><img src="static/images/chatting.png"></div>
    <div class="item2"><img src="static/images/notification.png"></div>
    <div class="item3"><img src="static/images/setting.png"></div>
</div>

<div class="cont1">
    <div class="grid-item">
        <img src="static/images/good-feedback.png">
        <div class="counts">
            <p>4.6</p>
            <p>Ratings</p>
        </div>
    </div>
    <div class="grid-item">
        <img src="static/images/handshake.png">
        <div class="counts">
            <p>10k</p>
            <p>Allies</p>
        </div>
    </div>
    <div class="grid-item">
        <img src="static/images/write.png">
        <div class="counts">
            <p>34</p>
            <p>Posts</p>
        </div>
    </div>
    <div class="grid-item">
        <img src="static/images/review.png">
        <div class="counts">
            <p>14</p>
            <p>Reviews</p>
        </div>
    </div>
</div>
<div class="desc_w">
    <div class="description">
        <p>{{ profile["description"] or 'Not Provided' }}</p>
    </div>
    <div class="desc_img_w">
        <div>
            <img src="static/images/down.png">
        </div>
    </div>
</div>

<div class="contacts">
    <a href="{{ url_for('dashboard.contacts_page') }}">
        <div class="item1">
            <img src="static/images/contact-us.png">
            <p>Contacts</p>
        </div>
    </a>

    <a href="">
        <div class="item2">
            <ion-icon name="briefcase-sharp"></ion-icon>
            <p>Services</p>
        </div>
    </a>

    <a href="">
        <div class="item3">
            <ion-icon name="clipboard-sharp"></ion-icon>
            <p>Needs</p>
        </div>
    </a>
</div>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}